<!doctype html>
<html>
<head>
  <title></title>
</head>
<body ng-app>

  <input type="text" ng-model="query"/>
  <select ng-model="order">
    <option value="username">Organiser par nom</option>
    <option value="content">Organiser par contenu</option>
  </select>

  <div ng-init="users=[{username:'Marc', content:'Salut les gens'}, {username:'Jean', content:'Je suis content'}, {username:'John', content:'First'}]">
      <div ng-repeat="user in users | filter:{content:query} | orderBy:order">
        <p>
          <strong>{{user.username}}</strong><br>
        </p>
        {{user.content}}
      </div>
  </div>

  {{task}}

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js">
  </script>
</body>
</html>
