<!doctype html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
</head>
<body ng-app>

<div ng-controller="CommentsCtrl">

  <input type="text" ng-model="query"/>
  {{query}}
  <select ng-model="order">
    <option value="username">Organiser par nom</option>
    <option value="content">Organiser par contenu</option>
  </select>

      <div ng-repeat="comment in comments | filter:{content:query} | orderBy:order">
        <p>
          <strong>{{comment.username}}</strong><br>
          {{comment.content}}
        </p>
        <input type="text" ng-model="query"/>
      </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>

  <script>
  function CommentsCtrl($scope){
    console.log($scope);
    $scope.comments = [
  {
    "username": "Karen",
    "city": "Santel",
    "email": "karentownsend@comdom.com",
    "content": "Minim ad ipsum consequat duis do culpa. Adipisicing ad eu eu ea duis reprehenderit sunt cillum quis minim sit incididunt laborum anim. Sint amet et velit sint anim aliquip. Officia deserunt laboris nostrud culpa culpa esse ea cillum aute sint eu velit. Sit ut velit reprehenderit duis enim ut do est incididunt ullamco ullamco eu pariatur."
  },
  {
    "username": "Smith",
    "city": "Oneida",
    "email": "smithtownsend@comdom.com",
    "content": "Laboris ullamco consequat est Lorem sunt sit commodo cillum. Proident enim incididunt aliquip occaecat laborum. Amet dolor officia ad cupidatat exercitation sint sint deserunt quis veniam eu. Non qui ex qui dolore consequat nisi consequat aute sit enim cillum. Exercitation ullamco nostrud ipsum proident aliquip et mollit est."
  },
  {
    "username": "Perkins",
    "city": "Malo",
    "email": "perkinstownsend@comdom.com",
    "content": "Quis nulla do magna sint proident duis. Nisi id culpa ad esse ad dolore do do et ipsum occaecat sit officia. Qui officia velit nisi eiusmod laboris laboris nisi. Minim consectetur quis id incididunt occaecat laborum eu enim. Tempor do eiusmod do enim ex sit nulla laboris adipisicing et."
  },
  {
    "username": "Trujillo",
    "city": "Corriganville",
    "email": "trujillotownsend@comdom.com",
    "content": "Cillum anim et ea irure ullamco incididunt pariatur cillum consequat exercitation esse occaecat. Do ipsum incididunt ut est duis aute laboris aliqua velit esse voluptate et. Reprehenderit aute fugiat sint exercitation veniam enim proident excepteur. Eu commodo voluptate sit labore aute sint laborum qui eu proident laboris duis. Officia labore sit mollit nostrud adipisicing in aute laboris amet duis voluptate."
  },
  {
    "username": "Rachelle",
    "city": "Mayfair",
    "email": "rachelletownsend@comdom.com",
    "content": "Quis pariatur nisi aliqua anim laboris cupidatat ullamco ipsum laboris. Reprehenderit duis culpa nisi in eu et elit officia quis exercitation do excepteur. Consectetur sunt proident Lorem voluptate dolore ea aute voluptate ad. Lorem et sit tempor qui velit aute mollit esse commodo pariatur esse laborum. Cillum dolor excepteur veniam dolor est est ut ad et nostrud anim et."
  }
]
  }
  </script>
</body>
</html>
