<h1>Mon app</h1>
<hr></hr>

<div ng-repeat="post in posts">

  <h1>{{post.name}}</h1>

  <p>{{post.content}}</p>

  <p>
    <h2>{{post.comments.length}} Commentaires</h2>
  </p>

  <a href="#/comments/{{post.id}}">Voir les commentaires</a>
  <hr></hr>
</div>
